@import '../../style/variables.scss';

.total {
  position: absolute;
  bottom: 13px;
  left: 13px;
  min-width: 20px;
  min-height: 20px;
  padding-right: 5px;
  padding-left: 5px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  font-family: $primaryFont;
  line-height: 16px;
  background-color: #1d1f22;
  border-radius: 50%;
  user-select: none;
}

.button {
  position: relative;
}

.hidden {
  display: none;
}

.cartBasket {
  position: relative;
  width: fit-content;
}

.list {
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 2;
  min-width: 340px;

  @media (max-width: 450px) {
    right: -34px;
    min-width: 100vw;
  }
}

.emptyList {
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 2;
  width: max-content;
  padding: 20px;
  font-weight: 700;
  font-size: 14px;
  font-family: $primaryFont;
  line-height: 16px;
  background-color: white;
}
