@import '../../style/variables.scss';

.list {
  display: flex;
}

.listItem {
  padding: 0 16px 32px;
  border-bottom: 2px solid transparent;
}

.button {
  color: $textColor;
  font-weight: 400;
  font-size: 16px;
  font-family: $primaryFont;
  line-height: 120%;
  text-transform: uppercase;
}

.active {
  border-bottom: 2px solid $primaryColor;

  & .button {
    color: $primaryColor;
    font-weight: 600;
  }
}
