@import '../../style/variables.scss';

.radioButton {
  position: relative;
  display: inline-flex;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.contentText {
  padding-right: 1px;
  padding-left: 1px;
  color: $textColor;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  border: 1px solid $textColor;
}

.bigText {
  min-width: 63px;
  height: 45px;
  font-size: 16px;
  line-height: 45px;
  letter-spacing: 0.05em;
}

.smallText {
  min-width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 160%;
}

.bigColor {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid #dce0e7;
}

.smallColor {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #dce0e7;
}

.input {
  position: absolute;
  z-index: -1;
  width: 0;
  opacity: 0;
}

.input:checked + .contentText {
  color: white;
  background-color: #1d1f22;
  border: none;
}

.input:checked + .bigColor {
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border: 1px solid #5ece7b;
    transform: translate(-50%, -50%);
    content: '';
  }
}

.input:checked + .smallColor {
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #5ece7b;
    transform: translate(-50%, -50%);
    content: '';
  }
}
