@import '../../style/variables.scss';

.card {
  display: block;
  max-width: 386px;
  padding: 16px;
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    background-color: white;
    filter: drop-shadow($cardHoveredShadow);
    transition: all 0.3s;

    & .button {
      opacity: 1;
      transition: opacity 0.8s;
    }
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.disabledImage {
  opacity: 0.5;
}

.name {
  margin-top: 24px;
  color: $textColor;
  font-weight: 300;
  font-size: 18px;
  font-family: $primaryFont;
  line-height: 160%;
}

.disabledName {
  margin-top: 24px;
  color: #8d8f9a;
  font-weight: 300;
  font-size: 18px;
  font-family: $primaryFont;
  line-height: 160%;
}

.price {
  color: $textColor;
  font-weight: 500;
  font-size: 18px;
  font-family: $primaryFont;
  line-height: 160%;
}

.disabledPrice {
  color: #8d8f9a;
  font-weight: 500;
  font-size: 18px;
  font-family: $primaryFont;
  line-height: 160%;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 330px;
}

.button {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 52px;
  height: 52px;
  background-color: #5ece7b;
  border-radius: 50%;
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.4s;

  &:hover {
    background-color: #4daa66;
    transition: background-color 0.4s;
  }
}

.helpText {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #8d8f9a;
  font-weight: 400;
  font-size: 24px;
  font-family: $primaryFont;
  line-height: 160%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
