@import '../../style/variables.scss';

.item {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.imageContainer {
  max-width: 121px;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.descriptionContainer {
  margin-right: 4px;
  width: 50%;
}

.counterContainer {
  margin-right: 8px;
}

.counterImage {
  display: flex;
}
