@import '../../style/variables.scss';

.container {
  width: fit-content;
}

.allAttributes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 8px;
}

.nameSmall {
  margin-bottom: 8px;
  color: $textColor;
  font-weight: 400;
  font-size: 14px;
  font-family: $primaryFont;
  line-height: 16px;
}

.nameBig {
  margin-bottom: 8px;
  color: $textColor;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}

.radioButton {
  position: relative;
  display: inline-flex;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.content {
  min-width: 24px;
  min-height: 24px;
  padding-right: 1px;
  padding-left: 1px;
  color: #a6a6a6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 160%;
  text-align: center;
  background-color: rgb(166 166 166 / 20%);
  border: 1px solid #a6a6a6;
}

.input {
  position: absolute;
  z-index: -1;
  width: 0;
  opacity: 0;
}

.input:checked + .content {
  color: white;
  background-color: #1d1f22;
  border: none;
}

.itemBig {
  margin-bottom: 24px;
}

.itemSmall {
  margin-bottom: 8px;
}
