.slider-container {
  width: 200px;
  height: 288px;
  margin: 0;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .swiper {
    height: 100%;
    .swiper-button-prev {
      background: rgba(0, 0, 0, 0.73);
      left: 60%;
      top: 95%;
      color: white;
      height: 30px;
      &::after {
        font-size: 20px;
      }
    }
    .swiper-button-next {
      top: 95%;
      color: white;
      height: 30px;
      background: rgba(0, 0, 0, 0.73);
      &::after {
        font-size: 20px;
      }
    }
  }
}
