.slider-container {
  width: 200px;
  height: 288px;
  margin: 0;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .swiper {
    height: 100%;

    .swiper-button-prev {
      top: 95%;
      left: 60%;
      height: 30px;
      color: white;
      background: rgb(0 0 0 / 73%);

      &::after {
        font-size: 20px;
      }
    }

    .swiper-button-next {
      top: 95%;
      height: 30px;
      color: white;
      background: rgb(0 0 0 / 73%);

      &::after {
        font-size: 20px;
      }
    }
  }
}
